.container-one{
  margin: 0 auto;
  width:1200px;
  height:700px;
  background-color:#fff0da;
  
background: radial-gradient(circle, #faebd6 10%, transparent 10%),
  radial-gradient(circle, #faebd6 10%, #fff0da 10%) 50px 50px;
background-size:90px 100px;
}
.container-two{
  margin: 0 auto;
  width:1200px;
  height:455px;
  background-color:#f6515d;
 z-index: 15;
  position: relative;
}
.container-three{
  margin: 0 auto;
  width:1200px;
  height:417px;
  background-color:#333333;
  position: relative; 
  padding-bottom: 20px;
}

@font-face {font-family: "Wisdom Script AI";
    src: url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.eot");
    src: url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.svg#Wisdom Script AI") format("svg");
}
@import url(https://fonts.googleapis.com/css?family=Noticia+Text);

.logo{
  font-family:"Wisdom Script AI";
  color:#f6515d;
  font-size:58px;
  text-align: center;
}
.ribbon{
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
  position: absolute;
  top:120px;
  background-color:#f6515d;
  height:28px;
  width:260px;
  color:rgb(255, 240, 218);
  border:solid #fff0da 2px;
  z-index: 3;
}
#ribbon-left{
 border-left:18px solid transparent;
 left:-300px;
  right:0;
}
#ribbon-right{
 border-right:18px solid transparent; 
 right:-300px;
 left:0;
}
.ribbon-edges{
   border-top:15px solid #f6515d;
   border-bottom:15px solid #f6515d;
   width:30px; 
   height:0px; 
   position: absolute;
   top:115px;
   z-index: 2;
   margin-left: auto;
   margin-right: auto;
   display:inline;
}
.bar-left{
  border-bottom:solid red 1px;
  width:115px;
  left:375px;
  top:129px;
  position:absolute;
}
.bar-right{
  border-bottom:solid red 1px;
  width:115px;
  right:375px;
  top:129px;
  position:absolute;
}
.intro-text{
  font-size: 26px;
  font-weight: bold;
  font-family: 'Noticia Text';
  color: rgb(246, 81, 93);
  line-height: 1.885;
  text-align: center;
  text-shadow: 0.5px 0.866px 0px rgba(255, 246, 232, 0.004);
  position: relative;
  margin:auto;
  width: 850px;
  height: 79px;
  padding:30px;
}
.signup{
  background-color:#fffffe;
  width:870px;
  height:347px;
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  bottom:-72px;
  z-index: 11;
  border-top: 15px solid transparent;
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  -webkit-o-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
 }
.signup-wisdom-text{
  
  width:inherit; 
  height:110px;
  font-family: 'Wisdom Script AI';
  font-size:25px;
  text-align: center;
}
.signup-red-text{
  color:#f6515d;
  font-size:30px;
  font-weight: bold;
  font-family: Helvetica;
}
.border{
  border-top:#e6cda7 dotted; 
  border-bottom:#ede6da solid;
  height:2px;
}

.page-flap-left{
  padding-bottom: 40px;
  background-color:#fffffe;
  width:600px;
  height:200px;
  position: absolute;
  left:200px;
  bottom:-76px;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
  z-index: 10;
  border-top: 15px solid transparent;
  -webkit-border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  -webkit-o-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
 } 
.page-flap-right{
  padding-bottom: 40px;
  background-color:#fffffe;
  width:600px;
  height:250px;
  position: absolute;
  right:200px;
  bottom:-76px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
  z-index: 10;
  border-top: 15px solid transparent;
  -webkit-border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  -webkit-o-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
  border-image: url('http://s31.postimg.org/v51gbrwgb/curvy_border.jpg') 30 30 stretch;
 } 
.page-padding{
  padding:40px;
}

#mail{
  width:494px;
  height: 53px;
  border-radius:20px 0px 0px 20px;
  margin:50px 0 50px 50px;
}
#email-btn{
  background-color: #f6515d;
  color:#ffffff;
  width:233px;
  height:59px;
  border-radius:0px 20px 20px 0px;
  font-size: 27px;
  right:90px;
  bottom:104px;
  font-family: Helvetica;
  font-weight: bold;
  position: absolute;
  display:inline;
}
.centered{
position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}
.blog-header{
  font-family: 'Wisdom Script AI';
  font-size:28px;
  color: rgb(51, 51, 51);
  display:table;
  text-align: center;
  width:inherit;
  padding:25px 0px 25px 0px;
  text-shadow: 1px 2px 1px #883e43;
  position:absolute;
}
.column{
  padding:125px 40px 25px 40px;
  width:310px;
  height:220px;
  float:left;
  clear:all;
  display:block;
  text-align: left;
}
.column > h4{
  font-size: 20px;
  font-family: "NoticiaText";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.45 0 0 0;
}
.column > hr{
   display: block;
    height: 1px;
    border: 0;
    border-top: 1px dotted #944248;
    margin:  0;
    padding: 0; 
}
.blog-content{
  font-size: 14px;
  font-family: Helvetica;
  color: rgb(51, 51, 51);
  line-height: 1.571;
  position: absolute;
  width: 287px;
  height: 58px;
  top:250px;
  
}

.date-and-author{
  font-size: 12px;
  font-family: Helvetica;
  color: rgb(51, 51, 51);
  padding-bottom: 30px;
    position: absolute;
  margin-bottom:20px;
  line-height-bottom: 1.833;
  position: absolute;
}
a{
  color:#fbe4d0;
  text-decoration: none;
  font-style:oblique;
}
.about-skillcrush{
  width:450px;
  height:350px;
  position: absolute;
  padding:30px 5px 50px 100px;
}
.about-skillcrush-text{
  font-size: 14px;
  font-family: Georgia;
  color: rgb(255, 240, 218);
  line-height: 1.571;
  text-align: left;
  width: inherit;
  height: inherit;
}
.container-3-headers{
  font-size: 28px;
  font-family: "Wisdom Script AI";
  color:#fff0da;
  line-height: 1.036;
  text-align: left;
  text-shadow: 2px 3px #54504a;
  
}
.form-div{
  float:right;
  display:inline;
  clear:left;
  padding:30px 100px 50px 80px;
  text-align: left;
  width:450px;
  height:350px;
}
#name, #email{
  width:220px;
  height:30px;
  float:left;
  display:inline;
  position: relative;
}
#subject{
  height:30px;
  width:448px;
}
#name, #email, #subject, #msg{
   
  background-color: #fff0da;
  border-radius: 5px;
  margin:3px 0px 3px 1px;
}
#msg{
  width:447px;
  height:115px;
}
#msg-btn{
  width:145px;
  height:30px;
  float:right;
  background-color: #dcc199;
  color:#333333;
  font-size: 14px;
  font-family:Helvetica;
  font-weight: bold;
  border:none;
}
footer{
  background-color:#f6515d;
  width:1200px;
  height:35px;
  margin:0 auto;
  font-size: 10px;
  font-family: Helvetica;
  color: rgb(51, 51, 51);
  line-height: 2.2;
  text-align: center;
  position: inherit;
  float:left;
  bottom: -5px;
  z-index: 7;
}
