.container{
  margin: 0 auto;
  width:1200px;
  height:702px;
  background-color:#fff0da;
  z-index: 1;
}
@font-face {font-family: "Wisdom Script AI";
    src: url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.eot");
    src: url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/d6ced0df95b7cc53e0eae88817930d08.svg#Wisdom Script AI") format("svg");
}

.logo{
  font-family:"Wisdom Script AI";
  color:#f6515d;
  font-size:58px;
  text-align: center;
}
.ribbon{
  text-align:center;
  position: absolute;
  left:0;
  right:0;
  top:120px;
  margin-left: auto;
  margin-right: auto;
  font-size:16px;
  background-color:#f6515d;
  height:28px;
  width:260px;
  color:rgb(255, 240, 218);
  
  z-index: 3;
}
#ribbon-left{
 border-left:20px solid transparent;
 left:-28px;
}
#ribbon-right{
 border-right:20px solid transparent; 
 right:-28px;
}
.ribbon-edges{
   border-top:15px solid #f6515d;
   border-bottom:15px solid #f6515d;
   width:30px; 
   height:0px; 
   position: absolute;
   top:-8px;
   z-index: 2;
}

